/* TEXT COLOR */
$primary-color:#0d6efd;
$text-dark-black:#333;

/* BACKGROUND COLOR */

$black:#000;
$dark-black:#333;
$error-form:#ff5c5c;
$dark-blue:#172b4d;
$white:#fff;
$light-green: rgba(30, 201, 30, 0.151);

/* LINE */

$line-top:#cacacb;

/* MAIN MENU */
$mainmenu-bg:#444444;
$theme-color:#2a3042;
$theme-color-light:#fafafa;
$bg-btn-default: #172b4d;
$mainmenu-bg-hover: #3a6bb6ea;
$mainmenu-text-color: #444444;
$extmenu-bg:#c0c0c0;
$extmenu-item-bg-hover:#e5e7eb;
$sidebar-width:80px;
$extmenu-width:160px;
$sidebar-width-desktop:80px;
$maincontent-extendhide:$sidebar-width;
