@import "trumbowyg/dist/ui/sass/trumbowyg";
@import "variables";
@import "modules/apexcharts";
@import "modules/echarts";
@import "modules/avatar";
@import "modules/timeline";
@import "modules/helper";
@import "modules/card";
@import "modules/contacts";
@import "modules/footer";
@import "plugins/icons";
@import "shared/input";

.admin-body {
    padding-top: var(--navbar-base-height);
}

body {
    font-family: $font-family-montserrat, sans-serif;
}

.hover-card {
    transition: 0.3s all ease-in-out;
}
.hover-card:hover {
    transform: scale(1.05);
}

.text-table {
    font-size: 11px !important;
}
